:root {
  --header-color: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.header-container {
  background-color: var(--header-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  height: 15vh;
  margin: auto;
}

.header h2 {
  font-size: 3rem;
}

.header p {
  font-size: 2rem;
}

.movie-overview {
  height: 85vh;
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%, cover !important;
  background-position: center;
}

.movie-overview-info {
  position: absolute;
  color: #fff;
  font-size: 1.4rem;
  line-height: 2.2rem;
  bottom: 2rem;
  margin-right: 2rem;
  min-height: 10rem;
  background: transparent;
  max-width: 70vw;
  left: 4rem;
}

.movie-overview-info p {
  font-weight: 500;
}

.movie-overview-info h2 {
  font-size: 3rem;
  line-height: 3rem;
}

.movie-overview i {
  position: absolute;
  font-size: 6rem;
  color: white;
  cursor: pointer;
}

.back-arrow {
  top: 13rem;
  left: 2rem;
}

.forward-arrow {
  top: 13rem;
  right: 2rem;
}

.search-bar {
  text-align: center;
}

.search-bar input[type="text"] {
  padding: 10px 20px;
  margin-top: 2rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  font-size: 2rem;
  background-color: var(--header-color);
  color: white;
  box-shadow: 2px 3px 2px 3px rgba(0, 0, 0, 0.1);
}

.search-bar h2 {
  font-size: 2.3rem;
  margin-top: 0.9rem;
}

.movie-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 1rem 7rem;
}

.card-front img {
  width: 100%;
}

.movie-card-link {
  text-decoration: none;
  outline: none;
  border: none;
}

input[type="text"],
input[type="password"] {
  display: block;
  margin: auto;
}

.login-part,
.signup-part {
  margin: 1rem;
}

.login-btn,
.signup-btn {
  padding: 0.3rem 1rem;
}
